body {
    margin: 0px;
    padding: 0px;
}

#topMenu {
    position: absolute;
    background: linear-gradient(180deg, #000000 0%, rgba(9, 9, 9, 0.962939) 0.01%, rgba(35, 35, 35, 0.864583) 43.75%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    top: 0px;
}

#homeImage {
    width: 100%;
}

#loginButton {
    border: none;
    position: absolute;
    top: 26px;
    right: 80px;
    color: white;
    background-color: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

#profileImage {
    border: none;
    border-radius: 40px;
    position: absolute;
    top: 24px;
    right: 36px;
    height: 40px;
    width: 40px;
    background-color: #EEE5E5;
    cursor:pointer;
}

#contentContainer {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 200px;
    left: 200px;
    right: 200px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    background-color: white;
}

#topMenuList {
    position: relative;
    left: 200px;
    top: 10px;
}

#topMenuList li {
    display: inline;
    color: white;
    background-color: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.topMenuItem:hover {
    background-color: blue;
}

#dropdown {
    display:inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 40px;
    right: 24px;
    height: 40px;
    width: 40px;
    margin: 0;
    z-index: 1;
 }

.show {
    display:block;
}
 
#profileImage_content li {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    text-align: left;
    display: block;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#profileImage_content li:hover {
    background-color: #ddd;
}

#dropdown:hover #profileImage {
    background-color: #3e8e41;
}

#logo {
    color: white;
    text-decoration: none;
    margin:20px;
    font-size:30px;
    padding-top:10px;
    padding-left: 25px;
}
  
#sidebar {
    position:fixed;
    list-style-type: none;
    margin:0px;
    top:0;     
    width: 200px;   
    height: 100%;
    background: #3962ad;
    padding: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity:0.9;
}
  
#sidebar li {
    display: inline;
    color: white;
    margin:20px;
    font-size: 25px;
    list-style-type: none;
}
  
#sidebar li a{
    display:block;
    color: white;
    text-decoration: none;
    padding: 6px 8px 6px 25px;
}

#sidebar li a:hover{
    color: rgb(8, 70, 112);
}